{% extends 'adopt/home.html.twig' %}

{% block body %}

<header class="page-header">
    <h1 class='text-center'>Bienvenue sur AdoptUnNerd</h1>
</header>
<main class='container'>
    <p class='col-lg-offset-3 col-lg-6'>
    Site révolutionnaire qui va changer votre vision des applications de rencontre, AdoptUnNerd
    permet de trouver le ou la Nerd qui vous correspond
    <img src='https://thedukesplayground.files.wordpress.com/2012/03/nerd.jpg' alt='bogoss' class='img-responsive'/>
    </p>
</main>
{% endblock %}